.SliderContainer {
  -webkit-app-region: no-drag;
  align-items: center;
  display: flex;
  height: 15px;
}

span {
  font-size: 12px;
  min-width: 30px;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  pointer-events: auto;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--color-white);
  border: 3px solid var(--color-black);
  border-radius: 50%;
  cursor: pointer;
  height: 14px;
  margin-top: -6px;
  width: 14px;
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--color-black);
  cursor: pointer;
  height: 1px;
}
