.Titlebar {
  -webkit-app-region: drag;
  align-items: center;
  background: var(--color-off-white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: flex;
  height: 30px;
  justify-content: space-between;
  left: 0;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.loadButton {
  background: none;
  border: none;
  outline: none;
}
