.Titlebar {
  -webkit-app-region: drag;
  align-items: center;
  background: var(--color-off-white);
  display: flex;
  height: 30px;
  left: 1px;
  position: fixed;
  top: 1px;
  width: calc(100vw - 2px);
}
