.Titlebar {
  -webkit-app-region: drag;
  align-items: center;
  background: var(--color-off-white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  height: 30px;
  left: 0;
  position: fixed;
  top: 0;
  width: calc(100vw);
}
