:root {
  --color-black: #000;
  --color-white: #fff;
  --color-outer-border: rgba(0, 0, 0, 0.2);
  --color-traffic-light-green: #29CE42;
  --color-traffic-light-red: #FF6059;
  --color-traffic-light-yellow: #FFC22E;
}

body,
html {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

body {
  background: rgba(0, 0, 0, 0.08);
  border: 1px solid var(--color-outer-border);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  align-items: center;
  display: flex;
  height: calc(100vh - 27px);
  justify-content: center;
  width: 100vw;
}
