:root {
  --color-black: #000;
  --color-off-white: #FAFAFA;
  --color-outer-border: rgba(216, 216, 216, 0.5);
}

body,
html {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

body {
  background: rgba(0, 0, 0, 0.08);
  border: 1px solid var(--color-off-white);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  align-items: center;
  display: flex;
  height: calc(100vh - 27px);
  justify-content: center;
  width: 100vw;
}
