:root {
  --color-black: #000;
  --color-off-white: #EBEFF0;
  --color-outer-border: rgba(216, 216, 216, 0.5);
}

body,
html {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

body {
  border: 1px solid var(--color-outer-border);
  box-sizing: border-box;
}

.container {
  align-items: center;
  display: flex;
  height: calc(100vh - 27px);
  justify-content: center;
  width: 100vw;
}

.Comp {
  display: block;
  height: auto;
}
